* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: center;
}

section {
    display: flex;
    justify-content: space-around;
}

.card1 {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    padding: 50px;
}

.card2 {
    border: 1px solid red;
    background-color: red;
    color: white;
    margin-bottom: 10px;
    padding: 50px;
}

.card3 {
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    padding: 50px;
}

.button1 {
    border: 3px solid blue;
    border-radius: 3px;
    background-color: aliceblue;
    color: blue;
}

.button1:hover {
    border: 3px solid white;
    background-color: blue;
    color: aliceblue;
    box-shadow: 0px 4px 4px grey;
}

.button2 {
    border: 3px solid red;
    background-color: white;
    border-radius: 3px;
    color: red;
}

.button2:hover {
    border: 3px solid white;
    background-color: red;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 4px grey;
}

.button3 {
    border: 3px solid black;
    background-color: white;
    color: black;
    border-radius: 3px;
}

.button3:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 4px black;
}